@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* Color Palette */
:root {
    --dark-blue: #00131c;
    --light-blue: #70a4d2;
    --dark-cream: #D4AF37; 
    --light-cream: #f1d7a2; 
    --dark-gray: #2c3947;
    --white: #fffef8;
}

/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    min-height: 100vh; /* If you want it to take full height as well */
}


html, body {
    width: 100%; /* Ensuring full width */
    height: 100%; /* Ensuring full height */
    overflow-x: hidden; /* Prevents horizontal scrollbar */
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: var(--white); /* Set a base background color */
    color: var(--dark-gray); /* Set a base text color */
}

.app {
    width: 100%; /* Ensuring app stretches to full width */
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Uses 100% of the viewport width */
    height: 80px;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 0 20px;
}



.logo-container, .buttons, .contact {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    width: 70px;
    object-fit: contain;
    margin-right: 10px;
}

.textLogo {
    font-weight: bold;
    color: var(--white);
    font-size: 30px;
    font-weight: 900;
}

.buttons .dropdown {
    margin: 0 10px;
}

.dropdown a {
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    display: block;
}

.contact button {
    padding: 8px 16px;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact button:hover {
    background-color: var(--dark-blue);
}

/* Main content styling */
.portal {
    min-height: calc(100vh - 80px); /* Adjust the height minus navbar */
    padding: 20px;
    background-color: var(--belo);
}

.footer {
    width: 100%; /* Ensure footer takes full width */
    text-align: center;
    padding: 10px 0;
    background-color: var(--dark-gray);
    color: var(--light-cream);
}

/* Responsive styling */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .logo-container, .buttons {
        margin-bottom: 10px;
    }
}
