/*import React from 'react';
import './Grupe.css';

function Grupe() {
    return (
        <div className="kontakt-container">
            <h1>Kontaktirajte nas</h1><br/><br/><br/><br/>
            <h2>Radno vreme svakog dana: 9:00 - 20:00</h2>
            <h2>Telefon: +381 12 345 6789</h2>
            <h2>Email: kontakt@nasausluga.com</h2>
            <div className="social-media-links">
                <a href="https://facebook.com">Facebook</a>
                <a href="https://twitter.com">Twitter</a>
                <a href="https://instagram.com">Instagram</a>
            </div>
        </div>
    );
}

export default Grupe;
*/

/*:root {
    --dark-blue: #00131c;
    --blue: #003366;
    --light-blue: #a6d1e6;
    --dark-gray: #a0a0a0;
    --white: #fffef8;
}


.kontakt-container {
    width: 100%;
    max-width: 100vw;
    height: 83vh;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
    max-width: 600px;
    animation: fadeIn 1s;
}

.kontakt-container h1 {
    color: var(--white);
}

.social-media-links a {
    color: var(--light-blue);
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media-links a:hover {
    color: var(--blue);
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media-links a:hover {
    color: var(--blue);
}


@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
*/



/* App.css */
:root {
    --dark-blue: #00131c;
    --blue: #003366;
    --light-blue: #a6d1e6;
    --dark-gray: #a0a0a0;
    --white: #fffef8;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
}

header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem;
    text-align: center;
}

.grupe {
    padding: 2rem;
    margin-top: 50px;
}

.muscle-group {
    background-color: var(--light-blue);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

footer {
    background-color: var(--dark-gray);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}


